@import url(https://fonts.googleapis.com/css2?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css2?family=Inter);
@import url(https://fonts.googleapis.com/css2?family=Jacques+Francois);

:root{
   --background-color: #fbfcff;
   --dark-blue:#315db9;
   --light-blue:#b9d0ff;
   --dark-purple:#6e3d93;
   --darker-purple:#3e1467;
   --site-font:'Jacques Francois';
   --title-font:'Bree Serif';
   --index-font:'Inter';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.container-formulario{
    border: 3.2px solid var(--dark-purple);
    border-radius: 7px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
    min-height: 370px;
    max-height: 370px;
    height: auto;
    flex-shrink: 0;
    gap: 17px;
    display: flex;
    flex-direction: column;  
    padding-bottom: 12em;
}

#div-cadastro{
    overflow-y: auto;
}
#div-cadastro::-webkit-scrollbar {
    width: 4px;
}
#div-cadastro::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}
#div-cadastro::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.title h1{
    color: var(--dark-purple);
    display: flex;
    justify-content: center;
    font-family: var(--title-font);
    font-size: 1.80em;
    font-weight: 500;
    padding: 0em;
    margin: 16px;
    cursor: default;
}

.container-formulario .frm .input-section{
    color: var(--dark-purple);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
}

.container-formulario .frm .input-section .label-user{
    font-family: var(--index-font);
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}

.container-formulario .frm .input-section .input-form {
    letter-spacing: 0.5px;
    padding: 8px;
    border: 1.50px solid var(--dark-purple);
    border-radius: 6.50px;
    width: calc(100% - 22px); /* Ajusta a largura para considerar o padding e a borda */
}

.input-form::placeholder {
    color: #6e3d93a8;
    font-size: 0.9em;
}

.input-form:focus {
    box-shadow: 0 0 0 1px var(--darker-purple);
    background-color: var(--background-color);
    outline: none;
}

.input-section .submit-button{
    background: #3e72e2;
    border-color: #3e72e2;
    color: var(--background-color);
    font-family: var(--index-font);
    cursor: pointer;
    border-radius: 6.50px;
    padding: 6px 0px;
}

.submit-button:hover {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: #ffffff;
}

.form-link-container{
    font-family: var(--index-font);
    font-size: 0.80em;
    color: var(--darker-purple);
    cursor: default;
}

.form-link-container a{
    color: var(--dark-blue);
    font-family: var(--index-font);
}

.form-link-container a:hover{
    color: var(--light-blue);
    cursor: pointer;
}

/* ----- */

.divOculta{
    display: none;
}

#msgErro{
    cursor: default;
    font-family: var(--index-font);
    font-size: 0.80em;
    color: brown;
    box-shadow: 0 4px 8px rgba(152, 95, 213, 0.319);
    border: 3.2px solid var(--dark-purple);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 8px;
    margin-top: 65px;
    max-height: 65px;
    height: 35px;
    flex-shrink: 0;
    display: none;
    text-align: center;
}
#msgSucesso{
    cursor: default;
    font-family: var(--index-font);
    font-size: 0.80em;
    color: darkgreen;
    box-shadow: 0 4px 8px rgba(152, 95, 213, 0.319);
    border: 3.2px solid var(--dark-purple);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 8px;
    margin-top: 65px;
    max-height: 65px;
    height: 35px;
    flex-shrink: 0;
    text-align: center;
    line-height: 35px;
    display: none;
}

#msgErroLog{
    cursor: default;
    font-family: var(--index-font);
    font-size: 0.80em;
    color: brown;
    box-shadow: 0 4px 8px rgba(152, 95, 213, 0.319);
    border: 3.2px solid var(--dark-purple);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 8px;
    margin-top: 110px;
    max-height: 110px;
    height: 35px;
    flex-shrink: 0;
    display: none;
    text-align: center;
}
#msgSucessoLog{
    cursor: default;
    font-family: var(--index-font);
    font-size: 0.80em;
    color: darkgreen;
    box-shadow: 0 4px 8px rgba(152, 95, 213, 0.319);
    border: 3.2px solid var(--dark-purple);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 8px;
    margin-top: 110px;
    max-height: 110px;
    height: 35px;
    flex-shrink: 0;
    text-align: center;
    line-height: 35px;
    display: none;
}

#msgSenhRecup{
    cursor: default;
    font-family: var(--index-font);
    font-size: 0.80em;
    color: var(--darker-purple);
    box-shadow: 0 4px 8px rgba(152, 95, 213, 0.319);
    border: 3.2px solid var(--dark-purple);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 8px;
    margin-top: 215px;
    max-height: 215px;
    height: 35px;
    flex-shrink: 0;
    display: none;
    text-align: center;
} 

/* Visualizar senha */
.password-icon {
    position: relative;
    width: 100%;
}
.password-icon input {
    padding-right: 40px;
    width: 100%;
}
.password-icon i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    z-index: 10; /* Garante que fique na frente de qualquer coisa */
    transition: color 0.3s ease;
}
.password-icon i:hover {
    color: var(--dark-purple);
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
    visibility: hidden;
    pointer-events: none;
}
