@import url(https://fonts.googleapis.com/css2?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css2?family=Inter);
@import url(https://fonts.googleapis.com/css2?family=Jacques+Francois);

:root {
    --background-color: #fbfcff;
    --dark-blue: #315db9;
    --light-blue: #b9d0ff;
    --dark-purple: #6e3d93;
    --darker-purple: #3e1467;
    --purple-shadow: #433057a6;
    --dark-blue-transparency: #315cb91A;
    --site-font: 'Jacques Francois';
    --title-font: 'Bree Serif';
    --index-font: 'Inter';
}
.div_oculta{
    display: none;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.sidebar {
    width: 200px;
    height: 100dvh;
    background-color: var(--dark-purple);
    background: linear-gradient(180deg,rgba(110, 61, 147, 1) 0%, rgba(62, 20, 103, 1) 100%);
    box-shadow: 5px 0px 10px var(--purple-shadow);
}

.sidebar hr {
    width: 80%;
    color: white;
}

.sidebar #logo {
    width: calc(100% - 10px);
    margin: 5px;
}

#index {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar div ul{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.sidebar div ul a {
    font-family: var(--index-font);
    color: white;
    display: flex;
    text-decoration: none;
}

main {
    width: 100dvw;
}

.searchbar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--dark-blue-transparency);
    box-shadow: 3px 3px 10px var(--purple-shadow);
}

.searchbar #searchbar_input {
    width: inherit;
    border: none;
    outline: none;
    color: var(--dark-purple);
    background-color: rgba(0, 0, 0, 0);
}
.searchbar #lupe_icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.searchbar input::placeholder {
    color: var(--dark-purple);
    font-size: 115%;
}

#nome_sessao{
    font-family: var(--title-font);
    color:var(--dark-purple);
    margin-left: 40px;
}

p{
   font-family: var(--index-font); 
   margin-left: 40px;
}

.clubes_pesquisados{
    border: solid var(--dark-purple);
    margin-left: 40px;
    width: 80%;
    height: fit-content;
}