@import url(https://fonts.googleapis.com/css2?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css2?family=Inter);
@import url(https://fonts.googleapis.com/css2?family=Jacques+Francois);

:root {
    --background-color: #fbfcff;
    --dark-blue: #315db9;
    --light-blue: #b9d0ff;
    --dark-purple: #6e3d93;
    --darker-purple: #3e1467;
    --dark-blue-transparency: #315cb91A;
    --site-font: 'Jacques Francois';
    --title-font: 'Bree Serif';
    --index-font: 'Inter';
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.sidebar {
    width: 200px;
    height: 100dvh;
    background-color: var(--dark-purple);
    background: linear-gradient(180deg,rgba(110, 61, 147, 1) 30%, rgba(62, 20, 103, 1) 100%);
}

.sidebar hr {
    width: 80%;
    color: white;
}

.sidebar #logo {
    width: calc(100% - 10px);
    margin: 5px;
}

#index {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar div ul a {
    font-family: var(--index-font);
    color: white;
    display: flex;
    text-decoration: none;
}
#pags-site{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

main {
    width: 100dvw;
}

.searchbar {
    margin: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--dark-blue-transparency);
}

.searchbar #searchbar_input {
    width: inherit;
    border: none;
    outline: none;
    color: var(--dark-purple);
    font-family: var(--index-font);
    background-color: rgba(0, 0, 0, 0);
}
.searchbar #lupe-icon {
    background-image: url('images/search-lupe.png');
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
}

.searchbar input::placeholder {
    color: var(--dark-purple);
    font-size: 115%;
}

.user-clubs{
    margin: 40px;
    height: 75%;
    width: 85%;
}
.club-card{
    background-color: var(--dark-blue-transparency);
    border: solid 5px var(--dark-purple);
    height: 100px;
}